/* Base */
body {
  font-family: 'Roboto', sans-serif;
  background-image: url('img/Background-login.jpg');
 
}



.main_div{
    text-align: center;
    width: 180px;
    height: 250px;
    padding: 5px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

input{
    font-size: 15px;
    padding: 5px;
    margin: 7px;
}

.icons{
    width: 20px;
    height: 20px;
    margin: auto;
}

 button{
    border: 0px;
    margin: 3px;
    padding: 5px;
    margin-left: 20px;
    width: 160px;
    color: whitesmoke;
    background-color: black;
    
}

#login-options button{
    border: 0px;
    margin: 3px;
    padding: 5px;
    width: 200px;
    color: whitesmoke;
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}







.baskettotalContainer{
  margin-left: 75%;
  
}


.price{
  margin-left: 33%;
  margin-top: 19%;
  
  
}

.total{
  margin-left: 20%;
   margin-top: 19%;
  
}

.quantity{
  margin-left: 15%;
  margin-top: 19%;
}

/* Navigation Bar */
.navbar {
  padding: 10px 200px; 
  background-color: white; 
  transition: all ease 0.4s;
  margin-top: 40PX;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0

}
.navbar .navbar-brand {

}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus {
  color: #000000;
}
.navbar .navbar-nav li a {
  font-weight: bold;
  color: #ffffff !important;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus {
  color: #ffffff	
  !important;
}
.navbar .navbar-nav li a.active {
  color: rgb(255, 255, 255) !important;
}




/* Home Section */
#home {
  padding: 5px 0px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
#home h1 {
  margin-top: 40px; 
  font-weight: bold;

}


.login-signup{
  margin-top: 1PX;
}
  

.hero h1{
  font-size: 60px;

}


.textp{
  text-align: justify;
  margin-left: 32%;
  font-size: 26px;

}

.logo{
  margin-left: -40%;
  margin-top: -5%;
}

/* Product Card*/

.card-body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card-body a{
  color: black;
}



/*Button add to cart*/

.buttona {
  background-color: black; 
  border: none;
  color: white; 
  padding: 15px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

/* Go Shop Now Section */
.txtheading{
  margin-top: 100px;
}

.category-men{
  text-align: center;

}


.back-icon{
  margin-right: 500px;

}

/* Product Main image*/
.responsive{
  width: 100%;
  max-width: 400px;
  height: auto;
}


a:link {
  text-decoration: none;
}


/* Logo*/

.logo{
  margin-top: -5%;
 
  
/* Media Quires */
@media screen
and ( max-width: 768px ) {
  /* Navigation Bar */
  .navbar .navbar-collapse {
    background-color: white; 
    padding: 2px;
    margin-top: 1px;
  }

  /* Home Section */
  #home button {
    margin-top: 15px;
  }

  /* Download Section */
  #download h3 {
    font-size: 30px;
  }
  #download .downloads img {
    width: 48%;
  }

  /* Contact Section */
  #contact h4 {
    margin-top: 20px;

   

  }

  div.nav2{ 
    Position: absolute;
    right: 8%; 
    top: 1%;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: var(--dark-color); 
    
    }
    
     
  .hero h1{
    font-size: 40px;
  } 


  .textp{
    text-align: justify;
    margin-left: 25%;
    font-size: 18px;
  
  }
  
  .navbar {
    padding: 0px 0px;
    background-color: white; 
    transition: all ease 0.4s;
    margin-top: 40PX;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0
  
  }


/* Base */
body {
  font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
.navbar {
  padding: 10px 200px; 
  background-color: white; 
  transition: all ease 0.4s;
  margin-top: 40PX;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0

}
.navbar .navbar-brand {

}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:active,
.navbar .navbar-brand:focus {
  color: #000000;
}
.navbar .navbar-nav li a {
  font-weight: bold;
  color: #000000 !important;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:active,
.navbar .navbar-nav li a:focus {
  color: #A9A9A9	
  !important;
}
.navbar .navbar-nav li a.active {
  color: #000000 !important;
}





/* Home Section */
#home {
  padding: 5px 0px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
#home h1 {
  margin-top: 40px; 
  font-weight: bold;

}


.login-signup{
  margin-top: 1PX;
}
  

.hero h1{
  font-size: 60px;

}


.textp{
  text-align: justify;
  margin-left: 32%;
  font-size: 26px;

}

.logo{
  margin-left: -40%;
  margin-top: -5%;
}

/* Product Card*/

.card-body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card-body a{
  color: black;
}




 
 

/*Button add to cart*/

.buttona {
  background-color: black; 
  border: none;
  color: white; 
  padding: 15px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

/* Go Shop Now Section */
.txtheading{
  margin-top: 100px;
}

.category-men{
  text-align: center;

}


.back-icon{
  margin-right: 500px;

}

/* Product Main image*/
.responsive{
  width: 100%;
  max-width: 400px;
  height: auto;
}


a:link {
  text-decoration: none;
}




/*/Shopping Cart*/
.shoppingcartheading{
  width: 30%;
  
}





/* Logo*/

.logo{
  margin-top: -5%;
 
  
/* Media Quires */
@media screen
and ( max-width: 768px ) {
  /* Navigation Bar */
  .navbar .navbar-collapse {
    background-color: white; 
    padding: 2px;
    margin-top: 1px;
  }

  /* Home Section */
  #home button {
    margin-top: 15px;
  }

  /* Download Section */
  #download h3 {
    font-size: 30px;
  }
  #download .downloads img {
    width: 48%;
  }

  /* Contact Section */
  #contact h4 {
    margin-top: 20px;

   

  }

  div.nav2{ 
    Position: absolute;
    right: 8%; 
    top: 1%;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: var(--dark-color); 
    
    }
    
     
  .hero h1{
    font-size: 40px;
  } 


  .textp{
    text-align: justify;
    margin-left: 25%;
    font-size: 18px;
  
  }
  
  .navbar {
    padding: 0px 0px;
    background-color: white; 
    transition: all ease 0.4s;
    margin-top: 40PX;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0
  
  }


  
